<div class="cont-principale">
  <div class="cont-principale__titolo">
    <h1>TODO</h1>
    <img src="assets/images/icon-moon.svg" alt="icon moon">
  </div>
  <div class="cont-principale__input">
    <input class="chech" type="checkbox" name="" id="">
    <input type="text"
           placeholder="Create a new todo..."
           #todo
           (keydown.enter)="todo.value ? addNewItem(todo.value) : todo.placeholder = 'inserisci un valore';
           todo.value = ''"
    >
    {{alert}}
  </div>
</div>
<div class="cont-list">
  <app-list [todoItem]="currentItem"></app-list>
  </div>
<router-outlet></router-outlet>
