<div class="container-todo" *ngFor="let todo of todoItem; let i = index;">
  <div class="container-todo__cont-input" *ngIf="todoItem">
    <input type="checkbox" name="" id="{{i}}" (click)="checked(i)">
    <p class="testoTodo">{{todo | titlecase}}</p>
    <img class="delete" src="assets/images/icon-cross.svg" alt="icon delete" (click)="deleteItem(i)">
  </div>
</div>
<div class="container-footer" *ngIf="allTodo">
  <div class="container-footer__time">5 items left</div>
  <div class="container-footer__filter">
    <p class="activeFilter">All</p>
    <p>Active</p>
    <p>Completed</p>
  </div>
  <div class="container-footer__clear">
    <p>Clear completed</p>
  </div>
</div>
